{% extends "customTemplate.html" %}
{% block navigation %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ url_for('home') }}">Home</a>
            </li>
            <li>
                <a href="{{ url_for('about') }}">About</a>
            </li>
            <li>
                <a href="{{ url_for('contact') }}">Contact</a>
            </li>                                      
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="box">
            
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>business Advisor</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="img/slide-2.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p></p
                    <p>We are surrounded by small service businesses all with one question in mind. Who is my customer? How can I serve them better?</p
                    <p>Our company can satisfy desires of small businesses, by giving different personalized analyses with help of different and advance data mining techniques.</p
                    <p>Our goal is to help millions of small businesses i.e cafes and shops etc. to become more successful and profitable. Our company found a solution. We analyse your data and give you advice.</p>
                    <p>It is so simple! </p>
                    <p>Our service can tell you what is best!</p><br></br>
                </div>
                <div class="clearfix"></div>                
            </div>
        </div>
    </div>  

{% endblock %}
